.jumbotron {
    background-color: rgb(138, 70, 70);
    color: white;
}

body {
    background-color: rgb(103, 54, 167);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.panel-heading {
    background-color: blue;
}

.panel>.panel-heading {
    background-image: none;
    background-color: #ddd;
    color: black;

}